@model HogeschoolPXL.Models.VakLector

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VakLector</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none;">
                <label asp-for="VakLectorID" class="control-label"></label>
                <input asp-for="VakLectorID" class="form-control" />
                <span asp-validation-for="VakLectorID" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="LectorID" class="control-label"></label>
                <input asp-for="LectorID" class="form-control" />
                <span asp-validation-for="LectorID" class="text-danger"></span>
            </div>
             <div class="form-group" style="display:none;">
                <label asp-for="Lector.Gebruiker.GebruikerID" class="control-label"></label>
                <input asp-for="Lector.Gebruiker.GebruikerID" class="form-control" />
                <span asp-validation-for="Lector.Gebruiker.GebruikerID" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="Lector.LectorID" class="control-label"></label>
                <input asp-for="Lector.LectorID" class="form-control" />
                <span asp-validation-for="Lector.LectorID" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="Lector.GebruikerID" class="control-label"></label>
                <input asp-for="Lector.GebruikerID" class="form-control" />
                <span asp-validation-for="Lector.GebruikerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lector.Gebruiker.Naam" class="control-label"></label>
                <input asp-for="Lector.Gebruiker.Naam" class="form-control" />
                <span asp-validation-for="Lector.Gebruiker.Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lector.Gebruiker.Voornaam" class="control-label"></label>
                <input asp-for="Lector.Gebruiker.Voornaam" class="form-control" />
                <span asp-validation-for="Lector.Gebruiker.Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lector.Gebruiker.Email" class="control-label"></label>
                <input asp-for="Lector.Gebruiker.Email" class="form-control" />
                <span asp-validation-for="Lector.Gebruiker.Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="VakId" class="control-label"></label>
                <input asp-for="VakId" class="form-control" />
                <span asp-validation-for="VakId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="Vak.VakId" class="control-label"></label>
                <input asp-for="Vak.VakId" class="form-control" />
                <span asp-validation-for="Vak.VakId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vak.VakNaam" class="control-label"></label>
                <input asp-for="Vak.VakNaam" class="form-control" />
                <span asp-validation-for="Vak.VakNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vak.Studiepunten" class="control-label"></label>
                <input asp-for="Vak.Studiepunten" class="form-control" />
                <span asp-validation-for="Vak.Studiepunten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vak.Handboek.Titel" class="control-label"></label>
                <select asp-for="Vak.Handboek.Titel" class="form-control" asp-items="ViewBag.Handboeken"></select>
                <span asp-validation-for="Vak.Handboek.Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
