@model HogeschoolPXL.Models.Inschrijving

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inschrijving</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InschrijvingID" />
            <div class="form-group">
                <label asp-for="Student.Gebruiker.Naam" class="control-label"></label>
                <input asp-for="Student.Gebruiker.Naam" class="form-control" />
                <span asp-validation-for="Student.Gebruiker.Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Gebruiker.Voornaam" class="control-label"></label>
                <input asp-for="Student.Gebruiker.Voornaam" class="form-control" />
                <span asp-validation-for="Student.Gebruiker.Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Gebruiker.Email" class="control-label"></label>
                <input asp-for="Student.Gebruiker.Email" class="form-control" />
                <span asp-validation-for="Student.Gebruiker.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Cursus.CursusNaam" class="control-label"></label>
                <select asp-for="Student.Cursus.CursusNaam" class="form-control" asp-items="ViewBag.Cursussen"></select>
                <span asp-validation-for="Student.Cursus.CursusNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademieJaar.StartDatum" class="control-label"></label>
                <input asp-for="AcademieJaar.StartDatum" class="form-control" />
                <span asp-validation-for="AcademieJaar.StartDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
