@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>
@foreach (string category in Model)
{
<a class="btn btn-block
@(category == ViewBag.SelectedCategory ?
"btn-primary": "btn-outline-secondary")
asp-action="Index" asp-controller="Inschrijving" asp-route-category="@category" asp-route-id="1">
@category
</a>
<br>
}